.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: radial-gradient(circle, rgba(255,255,255,0.3) 20%, rgba(210,227,240,0.6) 60%, rgba(176,166,209,0.8) 80%, rgba(224,200,241,0.4) 100%);
    background-size: 200% 200%;
    filter: blur(8px);
    z-index: -1;
    animation: gradient 15s ease infinite;
}
  
@keyframes gradient {
  0% {
    background-position: 0% 0%;
  } 50% {
    background-position: 100% 100%;
  } 100% {
      background-position: 0% 0%;
  }
}
  