.comment-section {
    padding: 20px;
    height: 800px;
    margin: 20px auto;
    max-width: 1200px;
}
  
.comment-section-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}
  
.comment-list-container {
    margin-bottom: 20%;
    overflow-y: auto;
}

.comment {
    padding: 10px;
    margin-bottom: 10px;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
    position: relative;
}
  
.comment-actions {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    gap: 10px;
}
  
.comment-actions button {
    background: none;
    border: none;
    cursor: pointer;
}
  
.comment-actions button:hover {
    color: #4e4e4e; /* Hover color for icons */
}
  
.comment-form {
    margin-top: 20px;
}
  