.dropzone-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  padding: 20px;
  flex-direction: column;
}

.dropzone-title {
  font-size: 24px;
  color: #333333;
  margin-bottom: 20px;
}

.dropzone {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  max-width: 600px;
  height: auto;
  border-radius: 8px;
  background-color: rgba(224, 200, 241, 0.4);
  padding: 20px;
  overflow: hidden;
  transition: border-color 0.3s ease, background-color 0.3s ease;
}

.dropzone::before {
  content: '';
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  border: 2px dashed #ffffff;
  border-radius: 6px;
  pointer-events: none;
}

.dropzone:hover {
  border-color: #999999;
}

.dropzone-icon {
  margin-top: 20px;
  color: #666666;
}

.dropzone-text {
  font-size: 14px;
  font-weight: bold;
  color: #333333;
  text-align: center;
  cursor: pointer;
  background-color: rgb(255, 255, 255);
  border: 2px solid #ffffff;
  border-radius: 4px;
  padding: 10px 20px;
  display: inline-flex;
  align-items: center;
  gap: 8px;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

.dropzone-text:hover {
  background-color: rgba(224, 200, 241, 0.6);
  border-color: rgba(224, 200, 241, 0.4);
}

.dropzone-subtitle {
  margin-top: 0px;
  font-size: 12px;
  color: #666666;
  text-align: center;
}