.dropzone-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  background-color: #ffffff81;
  border-radius: 20px;
  border: 1px solid black;
  gap: 10px;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 2%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.041);
}


.dropzone-title {
  font-size: 24px;
  color: #333333;
  margin-bottom: 20px;
}

.dropzone {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  max-width: 500px;
  height: auto;
  border-radius: 8px;
  background-color: rgba(224, 200, 241, 0.4);
  padding: 20px;
  overflow: hidden;
  transition: border-color 0.3s ease, background-color 0.3s ease;
}

.dropzone::before {
  content: '';
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  border: 2px dashed #ffffff;
  border-radius: 6px;
  pointer-events: none;
}

.dropzone:hover {
  border-color: #999999;
}

.dropzone-icon {
  margin-top: 20px;
  color: #666666;
}

.dropzone-text {
  font-size: 14px;
  font-weight: bold;
  color: #333333;
  text-align: center;
  cursor: pointer;
  background-color: rgb(255, 255, 255);
  border: 2px solid #ffffff;
  border-radius: 4px;
  padding: 10px 20px;
  display: inline-flex;
  align-items: center;
  gap: 8px;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

.dropzone-text:hover {
  background-color: rgba(224, 200, 241, 0.6);
  border-color: rgba(224, 200, 241, 0.4);
}

.dropzone-subtitle {
  margin-top: 0px;
  font-size: 12px;
  color: #666666;
  text-align: center;
}

.transcript-list {
  width: 30%;
}

.transcript-list ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.transcript-list li {
  cursor: pointer;
  padding: 10px;
  border: 1px solid #ccc;
  margin-bottom: 5px;
  width: 100%;
}

.transcript-list li:hover {
  background-color: #f0f0f0;
}

.transcript-viewer {
  padding: 16px;
  border: 1px solid #ddd;
  width: 100%;
  max-width: 800px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.file-uploaded,
.transcript-list,
.dropzone {
  margin-bottom: 16px;
}
