.header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.7);
    color: #000;
}

.user-id {
    margin-right: 10px; 
}

.divider {
    margin: 0 10px;
}

.sign-out {
    background: none;
    border: none;
    color: #000;
    font-size: 16px;
    cursor: pointer;
    text-decoration: underline;
    width: 100px;
}

.sign-out:hover {
    opacity: 0.8;
}
